FileContentIndex/
bin/
obj/
SmartEyewearStore/SmartEyewearStore/obj/
*.bin
.vs/
*.cache
/Debug
SmartEyewearStore/.vs/SmartEyewearStore/v17/.suo
SmartEyewearStore/.vs/SmartEyewearStore/v17/DocumentLayout.backup.json
