@model SurveyViewModel
@{
    ViewData["Title"] = "پرسشنامه";
}

<h2>پرسشنامه انتخاب عینک مناسب</h2>

<form asp-action="Index" method="post">
    <div>
        <label>فرم صورت:</label>
        <select asp-for="FaceShape" class="form-control">
            <option>گرد</option>
            <option>بیضی</option>
            <option>مربعی</option>
            <option>کشیده</option>
            <option>قلبی</option>
        </select>
    </div>

    <div>
        <label>رنگ‌های مورد علاقه:</label><br />
        @foreach (var color in new[] { "مشکی", "طلایی", "نقره‌ای", "قرمز", "آبی" })
        {
            <input type="checkbox" name="PreferredColors" value="@color" /> @color <br />
        }
    </div>

    <div>
        <label>سبک پوشش:</label><br />
        @foreach (var style in new[] { "رسمی", "فانتزی", "ساده", "اسپرت" })
        {
            <input type="radio" asp-for="Style" value="@style" /> @style <br />
        }
    </div>

    <div>
        <label>کاربرد عینک:</label><br />
        @foreach (var usage in new[] { "مطالعه", "رانندگی", "کامپیوتر", "روزمره" })
        {
            <input type="checkbox" name="Usage" value="@usage" /> @usage <br />
        }
    </div>

    <div>
        <label>آیا مشکل چشمی یا حساسیت به نور دارید؟</label>
        <input type="checkbox" asp-for="EyeCondition" />
    </div>

    <div>
        <label>جنسیت:</label><br />
        <input type="radio" asp-for="Gender" value="زن" /> زن
        <input type="radio" asp-for="Gender" value="مرد" /> مرد
    </div>

    <div>
        <label>بازه سنی:</label>
        <select asp-for="AgeRange" class="form-control">
            <option>زیر ۱۸</option>
            <option>۱۸ تا ۲۵</option>
            <option>۲۶ تا ۳۵</option>
            <option>۳۶ تا ۵۰</option>
            <option>بالای ۵۰</option>
        </select>
    </div>

    <div>
        <label>بودجه خرید:</label>
        <select asp-for="BudgetRange" class="form-control">
            <option>تا ۵۰۰ هزار</option>
            <option>۵۰۰ تا ۱ میلیون</option>
            <option>۱ تا ۲ میلیون</option>
            <option>بیشتر از ۲ میلیون</option>
        </select>
    </div>

    <button type="submit" class="btn btn-success">ثبت اطلاعات</button>
</form>
