@{
    ViewData["Title"] = "صفحه اصلی";
}

<div class="text-center mt-5">
    <h1>👓 به فروشگاه عینک هوشمند خوش آمدید</h1>
    <p class="lead mt-3">
        با پاسخ به چند سوال ساده و اسکن چهره، بهترین عینک مناسب شما را پیشنهاد می‌کنیم 😎
    </p>
    <a href="/Survey" class="btn btn-primary btn-lg mt-4">شروع پرسشنامه</a>
</div>
