 <!-- Footer -->
<footer class="border-t border-gray-line">
    <!-- Top part -->
    <div class="container mx-auto px-4 py-10">
        <div class="flex flex-wrap -mx-4">
            <!-- Menu 1 -->
            <div class="w-full sm:w-1/6 px-4 mb-8">
                <h3 class="text-lg font-semibold mb-4">Shop</h3>
                <ul>
                    <li><a href="/Shop" class="hover:text-primary">Shop</a></li>
                    <li><a href="/Shop" class="hover:text-primary">Women's Eyeglasses</a></li>
                    <li><a href="/Shop" class="hover:text-primary">Men's Eyeglasses</a></li>
                    <li><a href="/Shop" class="hover:text-primary">Sunglasses</a></li>
                    <li><a href="/Shop" class="hover:text-primary">All Glasses</a></li>
                </ul>
            </div>
            <!-- Menu 2 -->
            <div class="w-full sm:w-1/6 px-4 mb-8">
                <h3 class="text-lg font-semibold mb-4">Tips & Guides</h3>
                <ul>
                    <li><a href="/shop.html" class="hover:text-primary">Eye Care Tips</a></li>
                    <li><a href="/single-product-page.html" class="hover:text-primary">Help & FAQ</a></li>
                    <li><a href="/checkout.html" class="hover:text-primary">Lens Index</a></li>
                    <li><a href="/404.html" class="hover:text-primary">Vision Insurance</a></li>
                </ul>
            </div>
            <!-- Menu 3 -->
            <div class="w-full sm:w-1/6 px-4 mb-8">
                <h3 class="text-lg font-semibold mb-4">About</h3>
                <ul>
                    <li><a href="/cart.html" class="hover:text-primary">About us</a></li>
                    <li><a href="/Account/Register" class="hover:text-primary">Contact us</a></li>
                    <li><a href="/Account/Login" class="hover:text-primary">Our Blog</a></li>
                </ul>
            </div>
            <!-- Social Media -->
            <div class="w-full sm:w-1/6 px-4 mb-8">
                <h3 class="text-lg font-semibold mb-4">Follow Us</h3>
                <ul>
                    <li class="flex items-center mb-2">
                        <img src="/assets/images/social_icons/facebook.svg" alt="Facebook" class="w-4 h-4 transition-transform transform hover:scale-110 mr-2">
                        <a href="#" class="hover:text-primary">Facebook</a>
                    </li>
                    <li class="flex items-center mb-2">
                        <img src="/assets/images/social_icons/twitter.svg" alt="Twitter" class="w-4 h-4 transition-transform transform hover:scale-110 mr-2">
                        <a href="#" class="hover:text-primary">Twitter</a>
                    </li>
                    <li class="flex items-center mb-2">
                        <img src="/assets/images/social_icons/instagram.svg" alt="Instagram" class="w-4 h-4 transition-transform transform hover:scale-110 mr-2">
                        <a href="#" class="hover:text-primary">Instagram</a>
                    </li>
                    
                  
                </ul>
            </div>
            <!-- Contact Information -->
            <div class="w-full sm:w-2/6 px-4 mb-8">
                <h3 class="text-lg font-semibold mb-4">Contact Us</h3>
                <p><img src="assets/images/whitelogo.png" alt="Logo" class="h-[60px] mb-4"></p>
                <p>Esfahan, Iran</p>
                <p class="text-xl font-bold my-4">Phone: (123) 456-7890</p>
                <a href="mailto." class="underline">Email: Mahshidra81@gmail.com</a>
            </div>
        </div>
    </div>

    <!-- Bottom part -->
    <div class="py-6 border-t border-gray-line">
        <div class="container mx-auto px-4 flex flex-wrap justify-between items-center">
            <!-- Copyright and Links -->
            <div class="w-full lg:w-3/4 text-center lg:text-left mb-4 lg:mb-0">
                <p class="mb-2 font-bold">&copy; 2024 SmartEyewearStore.com</p>
                <ul class="flex justify-center lg:justify-start space-x-4 mb-4 lg:mb-0">
                    <li><a href="#" class="hover:text-primary">Privacy Policy</a></li>
                    <li><a href="#" class="hover:text-primary">Terms of Service</a></li>
                    <li><a href="#" class="hover:text-primary">FAQ</a></li>
                </ul>
            </div>
            <!-- Payment Icons -->
            <div class="w-full lg:w-1/4 text-center lg:text-right">
                <img src="/assets/images/social_icons/paypal.svg" alt="PayPal" class="inline-block h-8 mr-2">
                <img src="/assets/images/social_icons/stripe.svg" alt="Stripe" class="inline-block h-8 mr-2">
                <img src="/assets/images/social_icons/visa.svg" alt="Visa" class="inline-block h-8">
            </div>
        </div>
    </div>
</footer>