@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SmartEyewearStore</title>


    <link rel="icon" type="icon" href="~/assets/images/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <link rel="stylesheet" href="~/assets/css/styles.css" />
    <link rel="stylesheet" href="~/node_modules/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/assets/css/custom.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />




    @RenderSection("Head", required: false)
</head>
<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

<body>
    @await Html.PartialAsync("_Header")
    @RenderBody()
    @await Html.PartialAsync("_Footer")

    <script src="~/node_modules/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <script src="~/assets/js/script.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/node_modules/alpinejs/alpine.min.js" defer></script>

    <script>
        window.userId = @(ViewData["UserId"] != null ? ViewData["UserId"] : "null");
         document.addEventListener('DOMContentLoaded', function () {
            const pending = localStorage.getItem('pendingSurvey');
            if (pending && window.userId) {
                fetch('/Survey/Save?userId=' + window.userId, {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: pending
                }).then(r => {
                    if (r.ok) {
                        localStorage.removeItem('pendingSurvey');
                        window.location.href = '/Recommendation/GetRecommendations';
                    }
                });
            }
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
